{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<h1>
    {% trans "Welcome in our Przepiśnik!" %}
</h1>
<div class="container ">
    <div class="columns text-left category_no_wrap">
        {% for category in categories %}
        <div class="column col-3 col-xs-12"><a href="?query={{category}}">{{category}}<i
                    class="icon icon-search"></i></a></div>
        {% endfor %}
    </div>
</div>
<div class="container ">
    <form class="columns" method="get">
        <input class="column col-8 col-xs-12" type="text" name="query"
            placeholder="{% trans 'Search by title and category' %}" value="{{ search_query }}">
        <input class="column col-4 col-xs-12 btn btn-primary input-group-btn" type="submit"
            value="{% trans 'Search' %}">
    </form>
</div>

<div class="container grid-lg m-2">
    <div class="columns">
        {% for product in products %}
        <div class="column col-6 col-sm-12">
            <div class="card">
                <div class="card-image">
                    {% image product.image fill-1000x200 as tmp_image %}
                    <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                </div>
                <div class="card-header">
                    <a href="{% pageurl product %}" class=" float-right">
                        <i class="icon icon-forward"></i>
                    </a>
                    <div class="card-title h5">
                        {{ product.title }}
                        {{ product.root_url }}

                    </div>
                </div>
                <div class="card-body">
                    {% trans "Difficulty level:" %}
                    {% for is_star in product.get_content_star_rating %}
                    {% if is_star == 1 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star-o"></span>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body">
                    {{ product.short_description }}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="w-100 hidden-md-down">
            <!--force wrap every 5 on lg-->
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}