{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<div class="container grid-lg">
    <div class="columns">
        <div class="column col-4">
            {% image page.image max-300x300 as temp_image %}
            <img src="{{ temp_image.url }}" alt="" />
        </div>
        <div class="column col-8">
            <h1>
                {{ page.title }}
            </h1>

            <p>
                {{ page.short_description|linebreaks  }}
            </p>
            <p>
                <span class="sect_bold">Składniki:</span>
            <ul>
                {% for ingredient in page.get_content_ingredients_as_list %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            </p>
            <p>
                <span class="sect_bold">Przepis:</span>
                {{ page.content_recipe|linebreaks }}
            </p>
            <p>
                <span class="sect_bold">Dodatkowe rzeczy:</span>
                {{ page.content_additional }}
            </p>

            <!-- We can use it to extract data from content - to show proper things -->
            <!-- <p>
                {% for f in custom_fields %}
                {% if f.options_array|length > 0 %}
            <div class="form-group">
                <label class="form-label" for="{{ f.name|lower }}">
                    {{ f.name }}
                </label>
                <select class="form-select custom-field-select" id="{{ f.name|lower }}"
                    data-field="{{ forloop.counter }}">
                    {% for opt in f.options_array %}
                    <option>
                        {{ opt }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            {% endfor %}
            </p> -->
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}