{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<div class="container grid-lg">
    <div class="row">
        <div class="col-12">
            {% image page.image max-500x500 as temp_image %}
            <img src="{{ temp_image.url }}" alt="" class="img-responsive" />
        </div>
        <div class="col">
            <h1>
                {{ page.title }}
            </h1>
            <h5>
                Kategoria: {{ page.category }}
            </h5>
            <p>
                {{ page.short_description|linebreaks  }}
            </p>
            <p>
                <span class="sect_bold">Składniki:</span>
            <div>
                {% for ingredient in page.get_content_ingredients_as_list %}
                <input type="checkbox"> {{ ingredient }} </br>
                {% endfor %}
            </div>
            </p>
            <p>
                <span class="sect_bold">Przepis:</span>
                {{ page.content_recipe|linebreaks }}
            </p>
            <p>
                <span class="sect_bold">Krok po kroku:</span>
            <div>
                {% for one_piece in page.get_content_additional_as_dict %}
                {% if one_piece.name == 'timer' %}
                <p><input type="checkbox"> Minutnik: {{ one_piece.value }} sekund.
                    <button class="btn btn-action s-circle" id="btn_timer_{{ forloop.counter }}"><i
                            class="icon icon-time">Start</i></button>
                    <span class="timer" id="timer_{{ forloop.counter }}" value="{{ one_piece.value }}"></span>
                </p>
                {% endif %}
                {% if one_piece.name == 'opis' %}
                <p><input type="checkbox"> {{ one_piece.value }} </p>
                {% endif %}
                {% endfor %}
            </div>
            </p>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        var timers_count = {}
        var timers = document.getElementsByClassName('timer');
        for (var i = 0; i < timers.length; i++) {
            timer = timers.item(i)
            tmp_btn_id = "btn_".concat(timer.id)
            btn_timer = document.getElementById(tmp_btn_id);
            format = function (minutes, seconds, id_of_span) {
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                _timer = document.getElementById(id_of_span)
                _btn_timer = document.getElementById("btn_".concat(_timer.id));
                _timer.textContent = minutes + ':' + seconds;
                if (this.running == true) {
                    _timer.classList.add('timer_run');
                    _btn_timer.disabled = true;
                } else {
                    _timer.classList.remove('timer_run');
                    _btn_timer.disabled = false;
                }
            };
            count_timer = new CountDownTimer(timer.getAttribute('value'), 1000, timer.id);
            count_timer.onTick(format);

            btn_timer.onclick = function () {
                timers_count[this.id].start()
            };
            timers_count[tmp_btn_id] = count_timer
        }
    };
</script>
{% endblock %}