{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
{% load i18n urls %}

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/przepisnik.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div>
        {% get_available_languages as LANGUAGES %}
        {% for language_code, language_name in LANGUAGES %}
        <link rel="alternate" hreflang="{{ language_code }}" href="{% translate_url language_code %}" />
        {% endfor %}
    </div>

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>


<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <div class="container grid-lg">
        <header class="navbar">
            <section class="navbar-section">
                <a href="/" class="navbar-brand m-2">
                    {% trans "Recipes" %}
                </a>
                <a href="/contact" class="navbar-brand m-2">
                    {% trans "Contact" %}
                </a>
            </section>
            <section class="navbar-section">
                {% get_available_languages as LANGUAGES %}
                {% for language_code, language_name in LANGUAGES %}
                <a href="{% translate_url language_code %}" class="navbar-brand m-2">{{ language_name }}</a>
                {% endfor %}
            </section>
        </header>
    </div>

    <div class="container grid-lg">
        {% block content %}{% endblock %}
    </div>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/przepisnik.js' %}"></script>
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>